body{
    padding: 100px 50px;
}

.description{
    margin: 0 auto 100px;
    width: 50%;
}

.weather-app{
    margin: 0 auto;
}

h2{
    font-size: 28px;
    text-align: center;
}

.code{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
}